{% extends 'base.html' %}
{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Nunito|Patua+One" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/darkly/bootstrap.min.css">
{% endblock %}
{% block content %}

<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="jumbotron">About Us</div>
  <br> <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
                <div id="myCarousel col-md-6" class="carousel slide carousels" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                  
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner carousels">
                      <div class="item active carousels">
                        <img src="/static/photos/mur.jpg"alt="Owen Muriithi">
                            <div class="carousel-caption">
                                <div class="well">
                                <h3 class="names">Owen Muriithi</h3>
                                <p class="role">Back-end</p>
                              </div>
                        </div>
                      </div>
                  
                      <div class="item carousels">
                        <img src="/static/photos/gift.jpg" alt="Gift Lumumba">
                        <div class="carousel-caption">
                            <div class="well">
                                <h3 class="names">Gift Lumumba</h3>
                                <p class="role">Front-end</p>
                              </div>
                        </div>
                      </div>
                  
                      <div class="item carousels">
                        <img src="/static/photos/Hannah.jpg" alt="Hannah Chege">
                        <div class="carousel-caption">
                            <div class="well">
                                <h3 class="names">Hannah Chege</h3>
                                <p class="role">Back-end</p>
                              </div>
                        </div>
                      </div>
                      <div class="item carousels">
                          <img src="/static/photos/tashaa.jpg" alt="Natasha Senah">
                          <div class="carousel-caption">
                              <div class="well">
                                  <h3 class="names">Natasha Senah</h3>
                                  <p class="role">Front-end</p>
                                </div>
                          </div>
                        </div>
                    </div>
                  
                    <!-- Left and right controls -->
                  </div>
            </div>
          </div>
              <ul class="text">
                  <h3 class="title">Welcome to Safe-Space</h3>
                  <hr>
                  <p class="">A place where you'll find solace and peace of mind</p>
                  <p>in matters mental issues,family conflicts,health and identity crisis</p>
                  <p>through personal and in-depth interaction with guys</p>
                  <p>who will be willing to stand by you and offer immense</p>
                  <p>and life changing advice because no matter where you are in life,</p>
                  <p>no matter how low you've sunk,no matter how bleak your situation,</p>
                  <p><b>This is not the end!</b></p>
                  <p>You are worthy,you deserve to experience how great life can be</p>
                  <p>and you owe it to the world to be the positive change for others,</p>
                  <p>to inspire others,who will look up to you and say,</p>
                  <p>he did it,she did it and <b>I CAN DO IT TOO!!</b></p>
                </ul>
        </div>
      </div>
      <br>
      <br>
      <br>
  
</body>
<style>
   @import url('https://fonts.googleapis.com/css?family=Nunito+Candal+Patua+One');
   .container-fluid{
     padding-left: 100px;
   }
  .carousels{
    width: 620px;
    height: 600px;
    text-align: left;
  }
  body{
    background: #2E4053;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .names{
    text-align: center;
    font-size: 35px;
    font-family: 'Patua One', cursive; 
    color: whitesmoke;
  }
  .role{
    text-align: center;
    font-size: 30px;
    font-family: 'Patua One', cursive; 
    color: whitesmoke;
  }
  .thumbnail{
    width: 629px;
    float: left;
  }
  /* thumbnail texts{
    background: rgb(0, 0, 0);
  } */
  .jumbotron{
    text-align: center;
    font-size: 40px;
    background: rgb(40, 53, 68);
    font-family: 'Patua One', cursive; 
  }
  .text{
    font-size: 21.5px;
    color: solid whitesmoke;
    font-family: 'Nunito', sans-serif;
  }
  .title{
    font-family: 'Patua One', cursive; 
    font-size: 36px;
    border-style: solid;
    border-width: 4px 10px 4px 10px;
    text-align: center;
  }
  .well{
    background: rgb(19, 19, 19);
    border:  rgb(19, 19, 19);
    text-decoration-color: whitesmoke;
  }
  
</style>

{% endblock %}