{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles%}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/darkly/bootstrap.min.css">
{% endblock %}
{% block content %}
<body>
<div class="container">
<div class="form">
  {{wtf.quick_form(form)}}
  </div>
  <br>
<div class="thumbnail">


</div>
</div>
</body>
<style>
  @import url('https://fonts.googleapis.com/css?family=Nunito');
body{
   background: #2E4053;
 }
 .btn{
  font-size: 18px;
 }
 #submit{
   color:white;
   background-color: #37ad90;
   border-color: #37ad90;
 }
 .form-control{
  font-size: 29px;
 }
 /* #content{
   font-size: 2px;
 } */
form{
  color: white; 
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
 }
</style>
{% endblock %}
