<nav class="navbar navbar-inverse navbar navbar-expand-lg navbar-dark bg-primary navbar">
    <a class="navbar-brand" href="/" id="safe">Safe-Space</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="/index"><button type="button" class="btn-lg btn btn-success buttonss">Home &nbsp;<span class="glyphicon glyphicon-home"></span></button><span class="sr-only">(current)</span></a>
            </li>
            &nbsp; &nbsp;
            <li class="nav-item">
                <a class="nav-link" href="/about"><button type="button" class="btn-lg btn btn-success buttonss">About &nbsp;<span class="glyphicon glyphicon-share-alt"></span></button></a>
              </li>
              &nbsp; &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="/sos/{{current_user.id}}"><button type="button" class="btn-lg btn btn-success buttonss">SOS &nbsp;<span class="glyphicon glyphicon-share"></span></button><span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    {% if current_user.is_authenticated %}
    <div class="navbar-collapse collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}"><button type="button" class="btn-lg btn btn-success buttonss">Logout &nbsp;<span class="glyphicon glyphicon-log-out"></span></button><span class="sr-only">(current)</span></a>
              </li>
              &nbsp; &nbsp;
        </ul>
      </div>
      {% endif %}
    
  </nav>
  <style>
    .navbar{
      width: 100%;
      height: 85px !important;
      position: fixed;
      z-index: 1;
    }
    #safe{
      font-size: 35px;
      font-family: 'Patua One', cursive; 
    }
 .buttonss{
   font-size: 16.5px;
   font-family: 'Patua One', cursive;
 }
 

  </style>